body{
    //display: inline-block;
    font-family:Microsoft JhengHei;
    font-size: 2em;
    color:#FF7744;
}
p{
    display: inline;
}
.big_number{
    height:6em;
    font-size:8em;
}
.status_list{
    margin:1em 1em 1em 1em;
}
.status_item{
    margin:10px 10px 10px 10px;
    border-style:solid;
    border-radius:4px;
    border-width:4px;
    border-color:#8C0044;
}
.cloth_state{
    padding:1em;
}

.cloth_num{
    display: inline-block;
    float:left;
    width: 12em;
}

.state{
    float:right;
    width:170px;
    border:1px;
}

.time{
}

.dryclothbtn{
    float:middle;
    width:10em;
    height:10em;
    font-size:1em;
}

#status_list{
    width:100%;
}
